# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/
*.egg-info/
dist/
build/
*.egg

# Docker
*.log

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db